.landing-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
      45deg,
      rgba(207, 62, 133, 1) 20%,
      rgba(129, 70, 148, 0.9) 90%
    ),
    url("images/landing-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-body {
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
}
.landing-body h1 {
  font-size: 4rem;
  margin-bottom: 40px;
  font-weight: 800;
}

.landing-body p {
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.text-emphasize {
  font-weight: 600;
}

.buy-now-button {
  border: 1px solid white;
  font-size: 2rem;
  background: linear-gradient(
    70deg,
    rgba(201, 63, 171, 1) 10%,
    rgba(129, 70, 148, 1) 80%
  );
  color: #fff;
  border-radius: 10rem;
  width: 100%;
  padding: 1rem;
  font-weight: 800;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
