.landing-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 4rem 0;
  padding-top: 6rem;
  background: linear-gradient(
      0deg,
      rgba(46, 49, 49, 0.7),
      rgba(46, 49, 49, 0.7)
    ),
    url("images/sec1-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-body {
  padding: 1rem 10rem;
  color: #fff;
}
.landing-body h1 {
  font-size: 5.5rem;
  margin-bottom: 40px;
}

.landing-body p {
  font-weight: 200;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.landing-body button {
  font-size: 2rem;
}
.buy-now {
  background-color: #dac86b !important;
  color: #fff !important;
  margin-right: 20px;
  padding: 10px 40px !important;
}
.learn-more {
  color: #fff !important;
  border-color: #dac86b !important;
  padding: 10px 30px !important;
}
