.playContainer {
  position: "relative";
  background-image: url("../../images/game-preview.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.backgroundOverlay {
  backdrop-filter: blur(3rem) brightness(50%);
  height: 100vh;
}

.logoContainer {
  position: absolute;
  top: 3rem;
  left: 50%;
  font-size: 2rem;
  min-width: max-content;
  transform: translateX(-50%);
  display: flex;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  z-index: 999999;
}

.logoTitle,
.logoTitle:hover {
  margin: 0;
  margin-left: 1rem;
  color: #fff;
}

.logoImage {
  max-width: 5rem;
  width: 100%;
}

.content {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 2rem;
}

.descriptionTitle {
  font-weight: 900;
  padding: 1rem;
  transform: skewX(-7deg);
  font-size: 3rem;
  text-transform: capitalize;
}

.headlineContainer {
  background-color: #ee32bc;
  padding: 3rem 2rem;
  line-height: 1.5;
  font-weight: 900;
  transform: skewX(7deg);
  margin-bottom: 4rem;
  box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 1);
  -webkit-animation-name: moveInLeft;
  -webkit-animation-duration: 0.5s;
}

.subHeadline {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  font-size: 3rem;
  font-weight: 700;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: skewX(25deg) translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: skewX(25deg) translateX(0);
  }
}

@media only screen and (min-width: 1000px) {
  .logoContainer {
    left: 8rem;
    transform: translateX(0);
  }

  .content {
    padding: 1rem;
  }

  .headlineContainer {
    background-color: #ee32bc;
    padding: 3rem 2rem;
    line-height: 1.5;
    font-weight: 900;
    transform: skewX(25deg);
    margin-bottom: 4rem;
    box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 1);
  }

  .descriptionTitle {
    font-weight: 900;
    padding: 1rem;
    transform: skewX(-25deg);
    font-size: 4.5rem;
    text-transform: capitalize;
  }
}

/* snow */

.snow1 {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowOne 40s infinite linear;
  opacity: 0.7;
}
/* .snow2 {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowTwo 10s infinite linear;
  background-size: 300px;
  filter: blur(1px);
} */
.snow3 {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowThree 40s infinite linear;
  background-size: 800px;
  filter: blur(2px);
  opacity: 0.7;
}

@keyframes snowOne {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100px 750px;
  }
}
@keyframes snowTwo {
  0% {
    background-position: 0px -100px;
  }
  100% {
    background-position: 0px 750px;
  }
}
@keyframes snowThree {
  0% {
    background-position: 0px 100px;
  }
  100% {
    background-position: 300px 750px;
  }
}
