.token-benefits-container {
  min-height: 80vh;
  padding: 5rem 0;
  background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url("images/token-benefits-background.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.token-benefits-title {
  font-size: 6rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
}

.token-benefits-description {
  line-height: 130%;
  font-size: 3.25rem;
}

.token-benefits {
  padding: 4rem 0;
}

.accordion-header-icon {
  width: 8rem;
}

.accordion-header {
  width: 100%;
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  border: none;
  text-align: left;
  background-color: transparent;
  margin: 1rem 0;
}

.accordion-header:focus {
  outline: none;
}

body .accordion-body {
  padding: 1rem 0;
  margin-left: 9rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

.accordion-container {
  padding: 1rem 0;
  border-bottom: 1px solid #cecece;
}

.kpop-tokens-container {
  display: flex;
  justify-content: center;
}

.kpop-tokens {
  margin: 2rem auto;
  max-width: 500px;
  width: 100%;
}
