.roadmap-container {
  padding: 15rem 20rem;
  background: url("images/roadmap-background.png"), #050f1c;
  background-size: cover;
  background-color: #050f1c;
  color: #fff;
}

.roadmap-title {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 8rem;
}

.timeline-item {
  border-left: 1px solid #fff;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ee32bc;
  height: 230px;
}

.timeline-item p {
  font-size: 1.4rem !important;
  margin-bottom: 7px;
}

.timeline-col {
  padding-right: 0 !important;
}
.timeline-item2 {
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 10px;
  position: relative;
  border-left: 1px solid white;
}

.timeline-item h3 {
  margin-bottom: 20px;
}
.timeline-item h3,
.timeline-item2 h3 {
  font-size: 2rem;
}

.timeline-item p,
.timeline-item2 p {
  font-size: 1.2rem;
}

.timeline-item:before,
.timeline-item:after {
  position: absolute;
  bottom: -10px;
  left: -10px;
  height: 20px;
  width: 20px;
  background: #ee32bc;
  content: "";
  border-radius: 50%;
}

.space {
  border-bottom: 1px solid #ee32bc;
}

.end-space {
  border-left: 0px;
}

.timelime-item2-col {
  padding-left: 0 !important;
}

/********** Mobile Style **********/
#mobile-roadmap {
  display: none;
}
.mobile-timeline-items {
  border-left: 3px solid #ee32bc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(223, 21, 230, 0.103);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
}

.mob-roadmap .row {
  justify-content: center;
}

.mobile-timeline-items .mobile-timeline-item {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.mobile-timeline-item:first-child,
.mobile-timeline-item:nth-child(3),
.mobile-timeline-item:nth-child(5) {
  border-bottom: unset !important;
}

.mobile-timeline-items .mobile-timeline-item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.mobile-timeline-items .mobile-timeline-item:before,
.mobile-timeline-items .mobile-timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.mobile-timeline-items .mobile-timeline-item:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

.mobile-timeline-items .mobile-timeline-item:after {
  -webkit-box-shadow: 0 0 0 3px #ee32bc;
  box-shadow: 0 0 0 3px #ee32bc;
  left: -55.8px;
  background: #ee32bc;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

.mobile-timeline-item h3 {
  font-size: 3rem;
}

.mobile-timeline-item p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 20px;
}

/********** End Mobile Style ***********/

@media only screen and (max-width: 1100px) and (min-width: 1001px) {
  .roadmap-container {
    padding: 10rem 4rem;
  }
}

@media only screen and (max-width: 1000px) {
  #mobile-roadmap {
    display: block;
  }

  #desktop {
    display: none;
  }

  .roadmap-container {
    padding: 15rem 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .roadmap-container {
    padding: 0.5rem 0.5rem;
    background: url("images/roadmap-background.png"), #050f1c;
    background-size: cover;
    background-color: #050f1c;
    color: #fff;
  }

  .mobile-timeline-items {
    border-left: 3px solid #ee32bc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(223, 21, 230, 0.103);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 20px;
    list-style: none;
    text-align: left;
  }

  .mobile-timeline-items .mobile-timeline-item:after {
    left: -25.8px;
  }

  .mobile-timeline-item h3 {
    font-size: 2.8rem;
  }

  .mobile-timeline-item p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 10px;
  }
}
