.section1 {
  background: linear-gradient(
      0deg,
      rgba(46, 49, 49, 0.7),
      rgba(46, 49, 49, 0.7)
    ),
    url("images/sec1-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
