@import "styles/variables.css";

body .navbar-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 1rem 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  top: 0;
}

body .isStickyNav {
  background-color: red;
}

.navbar-logo {
  max-width: 200px;
  width: 100%;
}

.navbar-logo img {
  max-width: 25px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar-logo p {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.navbar-menus {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar-menu {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  color: #fff;
}

.navbar-link {
  margin: 0 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.active-navbar-link {
  padding-bottom: 5px;
  border-bottom: 2px solid yellow;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
