@import "styles/variables.css";

.navbar-container {
  background-color: rgba(225, 225, 225, 1);
  display: flex;
  align-items: center;
  padding: 1rem 10rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar-logo {
  border: 1px solid black;
}

.navbar-menus {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar-menu {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar-links {
}

.navbar-link {
  margin: 0 0.5rem;
  font-size: 1rem;
}

.active-navbar-link {
  color: var(--color-red);
}
