.footer-container .container {
  margin-top: 10rem;
  max-width: 1000px !important;
}

.footer-container {
  background-color: #050f1c;
}
.footer-body {
  display: flex;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 10rem;
  width: 10rem;
  margin: 2rem 0;
}

.footer-credit-message {
  font-size: 1.2rem;
  font-weight: 200;
  color: gray;
}

.footer-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links-title {
  color: white;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  margin: 1rem;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 9rem;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  overflow: hidden;
}

.footer-link:hover {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer-social-icon {
  color: white;
  font-size: 2.25rem;
}

.footer-social-icon-medium {
  color: white;
  font-size: 2.25rem;
  font-family: "Goblin One", cursive;
}

.footer-image {
  height: 171%;
}

@media only screen and (max-width: 990px) {
  .footer-link:hover {
    box-shadow: unset;
    text-decoration: none;
  }
}

@media only screen and (max-width: 520px) {
  .footer-body {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
