.fan-tokens-container {
  background: #050f1c;
  font-family: "Montserrat", sans-serif;
}

.fan-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fan-tokens-title {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 4.5rem;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .fan-tokens-container {
    padding: 10rem 3rem;
  }
}
